body {
    background-color: #A06D21 ;
    color: #FFFFFF;
    background-image: url(img/vạn\ lý\ trương\ thanh.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
  
}
h1 {
    color: #FFCC00;
    text-align: center;
}